*.egg
*.eggs
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
secret_configs/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
.idea/
__pycache__/
venv/*
.pytest_cache/
.venv/

out/
